@charset "utf-8";
#wrap{
	width:1000px;
	margin:0 auto;
}
#logo{
	font-size:50px;
	text-align:center;
	padding:20px;
}
#logo a{
	text-decoration:none;
	color:#0088FF;
}
#menu{
	background-color:#0088FF;
	text-align:center;
	font-size:0;
	padding:0;
}
#menu a:hover{
	border-bottom:3px solid white;
}
#list{
	display:inline-block;
	width:200px;
	height:60px;
	line-height:60px;
}
#list a{
	text-decoration:none;
	font-size:20px;
	color:white;
	font-weight:bold;
}
/* 여기까지 메인메뉴 부분 */
#main{
	width:100%;
}
#postTop{
	border-bottom:1px solid #0088FF;
	padding-left:50px;
	
}
#postTitle{
	border-bottom:1px solid #3399FF;
	padding-left:50px;
}
#postMain{
	margin-left: 50px;
				padding-top: 25px;
}
#postTop h2{
	display:inline-block;
}
select{
	border:2px solid #0088FF;
	font-size:20px;
	padding:10px;
	margin-bottom: 20px;
	margin-top: 20px;
}
#sel1{
	width:16%;
}
#sel2{
	width:12%;
}
#postTitle input{
	border:2px solid #0088FF;
	font-size:20px;
	padding:10px;
	margin-top:20px;
	margin-bottom:20px;
	width:90%;
}
textarea{
	width:92%;
	border:2px solid #0088FF;
	height:300px;
	font-size:15px;
	resize:none;
}
input[type=submit]{
	border:2px solid #0088FF;
	background-color:white;
	color:#0088FF;
	padding: 8px;
				width: 90px;
    margin-left: 453px;
    margin-top: 35px;
}
input[type=submit]:hover{
	background-color:#0088FF;
	color:white;
	border:2px solid black;
}
/* 여기까지 메인부분 */