@charset "utf-8";
body{
	background-color:#99CCFF;
	margin:0;
}
#wrap{
	width:600px;
	margin:0 auto;
	background-color:white;
}
h1{
	font-size:70px;
	text-align:center;
	margin-top:0px;
	padding-top:30px;
}
p{
	font-size:17px;
	color:red;
	text-align:center;
	text-decoration:underline;
}
#sel1, #sel2{
	width:308px;
	margin-top:10px;
	margin-bottom:10px;
	height:50px;
	font-size:20px;
}
#in{
	width:308px;
	margin:0 auto;
}
#allOk{
	width:308px;
	height:50px;
	background-color:lightgray;
	font-size:15px;
}
#idok,#nickok{
	background-color:lightgray;
	width:150px;
	height:30px;
	margin-left:80px;
	/* 아이디 중복체크는 아직 onclick 메서드 입력 안함 */
}
#allOk:hover{
	background-color:#0088FF;
	color:white;
}
#idok:hover, #nickok:hover{
	background-color:#0088FF;
	color:white;
}
input[type="text"]{
	height:50px;
	width:300px;
	font-size:20px;
}
input[type="password"]{
	height:50px;
	width:300px;
	font-size:20px;
}
input{
	margin-top:10px;
	margin-bottom:10px;
}
#idcheck,#nickcheck{
	margin-left:20px;
}